---
import AccordeonBlock from "../components/AccordeonBlock.astro";
import AccordeonSection from "../components/AccordeonSection.astro";
import CircleRadioButton from "../components/CircleRadioButton.astro";
import FeatureAlbumBlock from "../components/FeatureAlbumBlock.astro";
import FeatureParameter from "../components/FeatureParameter.astro";
import Input from "../components/Input.astro";
import RadioBlock from "../components/RadioBlock.astro";
import RadioItem from "../components/RadioItem.astro";
import SectionBlock from "../components/SectionBlock.astro";
import Layout from "../layout.astro";

import TableIllustrator from "../../public/img/animation-illustration/1.svg";
import StarIllustrator from "../../public/img/animation-illustration/2.svg";
import PigIllustrator from "../../public/img/animation-illustration/3.svg";
import DealIllustrator from "../../public/img/animation-illustration/4.svg";
import BoxIllustrator from "../../public/img/animation-illustration/5.svg";
import FullCatalogImage from "../../public/img/full-catalog.svg";

import Money from "../../public/img/profit/money.svg";
import Check from "../../public/img/profit/checks.svg";
import Clock from "../../public/img/profit/clock.svg";
import Law from "../../public/img/profit/law.svg";

import "../styles/index.scss";
import "../styles/illustrator-animation/table.scss";
import "../styles/illustrator-animation/star.scss";
import "../styles/illustrator-animation/pig.scss";
import "../styles/illustrator-animation/deal.scss";

import "../styles/profit/money.scss";

import CardAlbum from "../components/CardAlbum.astro";
import FeatureProfit from "../components/FeatureProfit.astro";

const ourClients = [
	{
		title: "Фотографам и студиям",
		description: "Успеете в дедлайны, порадуете родителей. Рассрочка, кэшбэк и заморозка цены",
		src: "/img/our-clients/1.jpg"
	},
	{
		title: "Агентствам",
		description: "Печать крупных тиражей под ключ. Договор, индивидуальные условия и nologo упаковка",
		src: "/img/our-clients/2.jpg"
	},
	{
		title: "Региональным проектам",
		description: "Надёжная печать с доставкой по всей России. Гарантия качества и соблюдения сроков",
		src: "/img/our-clients/3.jpg"
	}
]

const steps = [
	{
		title: "Регистрируетесь на сайте",
		description: "Пройдите простую регистрацию и получите бонус 1000 ₽",
		src: "/img/animation-illustration/laptop.svg"
	},
	{
		title: "Выбираете альбом",
		description: "Определяете тип и параметры будущего выпускного альбома",
		src: "/img/animation-illustration/hand-gesture.svg"
	},
	{
		title: "Указываете способ доставки",
		description: "Отправляете нам готовый дизайн альбома в один клик — удобно и быстро",
		src: "/img/animation-illustration/delivery-car.svg"
	},
	{
		title: "Мы начинаем печать",
		description: "Печатаем, проверяем и упаковываем альбомы в срок",
		src: "/img/animation-illustration/albums.svg"
	}
]

const delivery = [
	{
		title: "Минимальный тираж — от 1 альбома",
		description: "Работаем как с крупными заказами, так и с малыми партиями"
	},
	{
		title: "Срок печати 3–5 дней",
		description: "Тираж будет готов максимум за 5 рабочих дней"
	},
	{
		title: "Производство в Москве",
		description: "Есть шоурум для посещения, самовывоз в день готовности"
	},
	{
		title: "Доставка по Москве — всегда 599 ₽",
		description: "Привозим в течение 2 дней после печати, без скрытых доплат"
	}
]

const dd = [
	{
		title: "Индивидуальные  тарифы",
		desc: "Персональные предложения, адаптированные к вашему объему и уровню"
	},
	{
		title: "Оплата долями",
		desc: "Спокойнее распоряжайтесь своими средствами и не замораживайте личные деньги, благодаря банковским партнерам"
	},
	{
		title: "Заморозка цены",
		desc: "Забронируйте тираж до 1 ноября и защитите цены от индексации"
	},
	{
		title: "Оплата через юр. лицо",
		desc: "Проводите оплату через юр.лицо со всеми отчетными документами"
	}
]

const albums = [
	{
		src: "",
		title: "Layflat",
		description: "Похож на классическую фотокнигу, отпечатанную по мокрому фотопроцессу: твердая фотообложка, глянцевая ламинированная поверхность, плотные листы",
		price: 540
	},
	{
		src: "",
		title: "PUR",
		description: "Печать крупных тиражей под ключ. Договор, индивидуальные условия и nologo упаковка",
		price: 360
	},
	{
		src: "",
		title: "Планшет",
		description: "Надёжная печать с доставкой по всей России. Гарантия качества и соблюдения сроков",
		price: 360
	},
	{
		src: "",
		title: "Трюмо",
		description: "Простой и практичный вариант выпускного фотоальбома, представляет собой папку, оформленную со всех сторон и раскладывающуюся на три равные части.",
		price: 490
	},
	{
		src: "",
		title: "Журнал",
		description: "Печать крупных тиражей под ключ. Договор, индивидуальные условия и nologo упаковка",
		price: 560
	},
	{
		src: "",
		title: "КШС",
		description: "Печать крупных тиражей под ключ. Договор, индивидуальные условия и nologo упаковка",
		price: 1860
	}
]

---
<Layout>
	<link href="/css/swiper.min.js" rel="stylesheet" />
	<div class="content-grid">

		<!-- Hero -->
		<div class="container">
			<div class="print-hero">
				<h1 data-aos="fade-up" data-aos-duration="500">Надёжная печать выпускных альбомов для фотографов и агентств</h1>
				<p data-aos="fade-up" data-aos-duration="500">Печать выпускных альбомов без&nbsp;риска и&nbsp;задержек. Konica + AI-калибровка, готовность 3–5 дней, производство в&nbsp;Москве</p>
				<div class="print-hero-buttons">
					<a data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" href="#" class="print-button print-button--primary print-button--medium">Запартнериться</a>
					<a data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" href="#" class="print-button print-button--secondary print-button--medium">Посмотреть каталог</a>
				</div>
				<ul class="print-hero-features">
					<li data-aos="flip-up"  data-aos-duration="500"  data-aos-delay="1000"><span class="print-icon print-icon-price-tag"></span><span>Доступные цены</span></li>
					<li data-aos="flip-up"  data-aos-duration="500"  data-aos-delay="1500"><span class="print-icon print-icon-briefcase"></span><span>14 лет опыта печати</span></li>
					<li data-aos="flip-up"  data-aos-duration="500"  data-aos-delay="2000"><span class="print-icon print-icon-rocket"></span><span>Доставка по всей России</span></li>
				</ul>
			</div>
		</div>

		<!-- Статистика -->
		<div class="container print-statistic">
			<div class="print-statistic-text">
				<h3>Принтотека - бренд, созданный специально для выпускных фотографов и агентств</h3>
				<p>Наша миссия - снять с фотографов все заботы и вопросы, связанные с печатью, производством, сроками и доставкой, чтобы вы занимались только фотографией</p>
			</div>
			<div class="print-statistic-grid">
				<FeatureParameter
					value="3-5"
					sub="дней"
					about="Срок печати выпуска"
				/>
				<FeatureParameter
					value="20000+"
					about="Постоянных пользователей"
				/>
				<FeatureParameter
					value="1+"
					about="Минимальный тираж"
				/>
				<FeatureParameter
					value="5.0"
					about="Наш рейтинг в Яндекс"
				/>
			</div>	
			<img src="/img/1.jpg" />
		</div>
		
		<!-- Преимущества -->
		<SectionBlock title="Почему нам доверяют свои альбомы" hasContainer={true} classList={["print-features-albums"]}>
			<FeatureAlbumBlock
				title="Высокое качество печати"
				description="Konica AccurioPress C14000 + автоматическая калибровка — идеально точный цвет в каждом тираже"
			>
				<TableIllustrator class:list={["print-illustration"]} />
			</FeatureAlbumBlock>
			<FeatureAlbumBlock
				title="AI-коррекция под печать"
				description="AI-коррекция повышает качество печати без вмешательства в стиль фотографа"
			>
				<StarIllustrator class:list={["print-illustration"]} />
			</FeatureAlbumBlock>
			<FeatureAlbumBlock
				title="Партнерские цены"
				description="Честная стоимость и условия, с которыми удобно расти + оплата Долями и кэшбэк до 20%"
			>
				<PigIllustrator class:list={["print-illustration"]} />
			</FeatureAlbumBlock>
			<FeatureAlbumBlock
				title="Забота о клиентах"
				description="Личный менеджер, поддержка в Telegram и репринт за наш счет при ошибке"
			>
				<DealIllustrator class:list={["print-illustration"]} />
			</FeatureAlbumBlock>
			<FeatureAlbumBlock
				title="Надежная упаковка"
				description="Каждый альбом упакован в термоусадочную пленку, а тираж доставляется с защитой углов"
			>
				<BoxIllustrator class:list={["print-illustration"]} />
			</FeatureAlbumBlock>
		</SectionBlock>

		<!-- Наши клиенты -->
		<SectionBlock title="Кому мы печатаем" hasContainer={true} classList={["print-our-clients"]}>
			{
				ourClients.map( client =>
					<>
						<div class="print-our-client">
							<img src={client.src} alt="" />
							<h3>{client.title}</h3>
							<p set:html={client.description}></p>
						</div>
					</>
				)
			}
		</SectionBlock>

		<!-- Заморозка цены + 1000 ₽ бонус -->
		<div class="print-better-conditions">
			<div class="print-better-conditions-inner container">
				<h2 class="h1">Заморозка цены +&nbsp;1000&nbsp;₽&nbsp;бонус</h2>
				<p>Оставьте заявку — мы закрепим <br />за вами лучшие условия</p>
				<a href="#" class="print-button print-button--primary print-button--medium">Забрать бонус</a>
				<img data-aos="fade-up-right" data-aos-easing="ease-in-out" class="print-better-conditions__iluustration" src="/img/animation-illustration/rocket.svg" alt="" srcset="" />
				<img data-aos="fade-up-left" data-aos-delay="700" data-aos-easing="ease-in-out" class="print-better-conditions__iluustration" src="/img/animation-illustration/girl.svg" alt="" srcset="" />
			</div>
		</div>

		<!-- Каталог альбомов -->
		<div class="print-catalog-albums container">
			<h2 class="h1">Каталог альбомов</h2>
			<div class="print-catalog-albums-grid">
				{
					albums.map((album, index) => <CardAlbum {...album} src={`/img/albums/${index + 1}.jpg`} />)
				}
			</div>
		</div>

		<!-- Не нашли интересующий альбом? -->
		<div class="container">
			<div class="print-open-full-catalog">
				<h2>
					<span style="color: rgba(255,255,255,.6)">Не нашли интересующий альбом?</span><br />
					<span style="color: rgb(255,255,255)">Ознакомьтесь с полным каталогом</span>
				</h2>
				<a href="#" class="print-open-full-catalog__button print-button print-button--primary">Открыть полный каталог</a>
				<FullCatalogImage class="print-full-catalog-image" />
			</div>
		</div>

		<!-- Как мы работаем с заказами клиентов? -->
		<div class="print-steps container">
			<h2 class="h1"><span style="color: var(--pxp-action-main);">Как мы работаем с&nbsp;заказами клиентов?</span> Процесс&nbsp;заказа мы&nbsp;сделали максимально простым — до&nbsp;готового альбома всего несколько&nbsp;шагов</h2>
			<ol class="print-steps-inner container">
				{
					steps.map( step => 
						<li class="print-card">
							<h3>{step.title}</h3>
							<p set:html={step.description}></p>
							<img src={step.src} />
						</li>
					)
				}
			</ol>
		</div>

		<!-- Качество печати, которым мы гордимся -->
		<div class="print-quality container">
			<div>
				<h2 class="h1"><span style="color: var(--pxp-action-main);">Качество печати,</span> которым мы гордимся</h2>
				<p>Мы объединили несколько технологий, чтобы каждая страница и обложка выглядели безупречно при любом тираже, и при этом оставались доступные по цене</p>
				<a href="#" class="print-button print-button--primary print-button--medium">Сравнить качество печати</a>
				<img src="/img/medal.svg" />
				
			</div>
			<div class="print-quality-list-cards flex flex-column gap-4">
				<div class="print-card">
					<h3>Печать обложек на HP Indigo 12000</h3>
					<ul>
						<li>Глубокий цвет и фактура, как в премиум-изданиях</li>
						<li>Точная передача авторских оттенков и тонов</li>
						<li>Подходит под любую верстку - от минимализма до коллажей</li>
					</ul>
				</div>
				<div class="print-card">
					<h3>Konica AccurioPress C14000 с AI-корректировкой</h3>
					<ul>
						<li>400×3600 dpi: четкая детализация лиц и волос даже как в оригинале</li>
						<li>8-битная глубина цвета: 16+ млн оттенков без искажений</li>
						<li>Плавные градиенты без полос и пятен</li>
						<li>AI-калибровка цвета: сглаживание цвета кожи и фона и эффект фотохимии</li>
						<li>Стабильность цвета на всем тираже, включая репринты</li>
					</ul>
				</div>
				<div class="print-card">
					<h3>Дизайнерская бумага премиум-класса</h3>
					<ul>
						<li>Матовая и глянцевая, от 170 до 400 г/м²</li>
						<li>Четкие детали, плотный черный, живой цвет</li>
						<li>Приятно держать в руках - и родителям, и фотографам</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Быстрое изготовление и удобная доставка -->
		<div class="print-about-delivery container">
			<h2 class="h1"><span style="color: var(--pxp-action-main);">Быстрое</span> изготовление и&nbsp;<span style="color: var(--pxp-action-main);">удобная</span> доставка</h2>
			<div class="print-about-delivery-companies">
				<p>Сотрудничаем с лучшими службами доставки — всегда с трекингом и аккуратной упаковкой</p>
				<div>
					<img src="/img/delivery/1.svg" alt="CDEK" />
					<img src="/img/delivery/2.svg" alt="BoxBerry" />
					<img src="/img/delivery/3.svg" alt="Почта России" />
					<img src="/img/delivery/4.svg" alt="5post" />
				</div>
			</div>
			<div class="print-about-delivery-grid" style="grid-area: 2/1/3/-1">
				{
					delivery.map( step => 
						<li class="print-card">
							<h3>{step.title}</h3>
							<p set:html={step.description}></p>
						</li>
					)
				}
			</div>
		</div>

			<SectionBlock
				title={`<span style="color: var(--pxp-action-main);">Максимальная</span> выгода`}
				hasContainer={true}
				classList={["print-features-profit"]}
				classTitle={["h1"]}
			>
				<FeatureProfit
					title="Индивидуальные  тарифы"
					description="Персональные предложения, адаптированные к&nbsp;вашему объему и&nbsp;уровню"
				>
					<Money class:list={["print-illustration"]} style={`width: clamp(10rem, 7.074rem + 12.486vw, 17.063rem)`}  />
				</FeatureProfit>
				<FeatureProfit
					title="Оплата долями"
					description="Спокойнее распоряжайтесь своими средствами и&nbsp;не&nbsp;замораживайте личные деньги, благодаря банковским партнерам"
				>
					<Check class:list={["print-illustration"]} style={`width: clamp(7.563rem, 5.776rem + 7.624vw, 11.875rem)`}  />
				</FeatureProfit>
				<FeatureProfit
					title="Заморозка цены"
					description="Забронируйте тираж до 1&nbsp;ноября и&nbsp;защитите цены от&nbsp;индексации"
				>
					<Clock class:list={["print-illustration"]} style={`width: clamp(6rem, 4.912rem + 4.641vw, 8.625rem)`}  />
				</FeatureProfit>
				<FeatureProfit
					title="Забота о клиентах"
					description="Личный менеджер, поддержка в Telegram и репринт за&nbsp;наш счет при&nbsp;ошибке"
				>
					<Law class:list={["print-illustration"]} style={`width: clamp(7.125rem, 5.752rem + 5.856vw, 10.438rem)`}  />
				</FeatureProfit>
			</SectionBlock>

			<!-- Не нашли интересующий альбом? -->
			<div class="container">
				<div class="print-open-full-catalog">
					<h2>
						<span style="color: rgba(255,255,255,.6)">Не нашли интересующий альбом?</span><br />
						<span style="color: rgb(255,255,255)">Ознакомьтесь с полным каталогом</span>
					</h2>
					<a href="#" class="print-open-full-catalog__button print-button print-button--primary">Открыть полный каталог</a>
					<FullCatalogImage class="print-full-catalog-image" />
				</div>
			</div>

			<div class="print-border-radius">
				<div class="print-border-radius-bottom">

				</div>
			</div>



			<style>
				.print-border-radius {
					--radius: 14px;
					background-color: var(--pxp-accent-background);
					height: 28px;
				}
				.print-border-radius-bottom-bottom {
					width: 100%;
					height: 100%;
					background-color: var(--custom-background-page);
					border-radius: 0 0 28px 28px;
				}
				.print-border-radius-bottom-bottom {
					width: 100%;
					height: 100%;
					background-color: var(--custom-background-page);
					border-radius: 0 0 28px 28px;
				}
			</style>
	
	</div>
</Layout>

<script src="/src/scripts/animation-vector.js"></script>
