---
import Input from "../components/Input.astro";
import RadioBlock from "../components/RadioBlock.astro";
import RadioItem from "../components/RadioItem.astro";
import Layout from "../layout.astro";
---

<Layout>
    <div style="display: grid; grid-template-columns: repeat(2, 1fr);">
        <div><script is:inline data-b24-form="inline/100/04jhsf" data-skip-moving="true">(function(w,d,u){var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);})(window,document,'https://cdn-ru.bitrix24.ru/b13109976/crm/form/loader_100.js');</script></div>
        <div>
            <form action="" style="display: flex; flex-direction: column; gap: 2rem">
                <Input
                    name="first-name"
                    placeholder={`Имя`}
                    label={"Имя"}
                    id="first-name"
                    required={true}
                />
                <Input
                    name="last-name"
                    placeholder={`Фамилия`}
                    label={"Фамилия"}
                    id="last-name"
                    required={true}
                />
                <Input
                    name="phone"
                    placeholder={`+7`}
                    label={"Телефон "}
                    id="phone"
                    required={false}
                />
                <Input
                    name="email"
                    placeholder={`example@gmail.com`}
                    label={"Email"}
                    id="email"
                    required={true}
                    type="email"
                />
                <RadioBlock label="Предпочтительный способ связи">
                    <RadioItem name="contact" id="1" checked={true} value="Telegram" />
                    <RadioItem name="contact" id="2" value="E-mail" />
                    <RadioItem name="contact" id="3" value="Звонок" />
                </RadioBlock>
                <Input
                    name="telegram"
                    placeholder={`@`}
                    label={"Юзернейм в Телеграм"}
                    id="telegram"
                    required={false}
                />
                <RadioBlock label="Планируемый объем альбомов в сезон">
                    <RadioItem name="albums" id="1" checked={true} value="До 50" />
                    <RadioItem name="albums" id="2" value="50-200" />
                    <RadioItem name="albums" id="3" value="200+" />
                </RadioBlock>
            </form>
        </div>
    </div>
    
</Layout>